.paragraph-item-container{
    /* width: 100vw; */
    flex: 1;
    flex-direction: row;
    
    
}
.paragraph-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.paragraphs-container{
    /* justify-content: center; */
    width: 100%;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
}

.pargraph-text-input-container{
    width: 100%;
}

.pargraph-output-text-container{
    width: 100%;
}

.paragraph-text-space{
    width: 5vw;
}




.paragraph-index-text{
    font-size: 2rem;

}

/* .paragraph-index-item-left{
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 50px;
    background-color: #e9f4f9;
    padding: 20px 10px;
}
.paragraph-index-item-right{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #e9f4f9;
    padding: 20px 10px;
}

.paragraph-index-indicator-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */