.dropdown-select{
    width: 100%;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 1rem;
    position: relative;
    text-align: center;
    
}

/* .dropdown-select::before,
.dropdown-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
} */

.dropdown-option{
    text-align: center;
    color: black;
}

.selected-option{
    text-align: center;
}

