.toast-warning-continue-modal-button-cancel{
    opacity: 0.6;
}

.toast-warning-continue-modal-button-continue{
    opacity: 0.5;
}

.toast-warning-continue-modal-button-cancel:hover{
    opacity: 1;
}

.toast-warning-continue-modal-button-continue:hover{
    opacity: 1;
}