.file-picker-label{
    background-color: #e1e1e1;
    padding:15;
    border-radius:5;
    border-width:1;
    border-color:black;
    cursor: pointer;
    display: block;
    
}

.filepicker-container{

}

.file-input {
    
}