@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Quicksand", sans-serif;
    line-height: 1.5;
  
    color: #611483;
    /* background: radial-gradient(#2c1248, #180929); */
    /* background: radial-gradient(#b8b8b8, #ffffff); */
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;  
  }