# Flask backend server
flask
flask-cors
python-dotenv

# Database interaction
pymongo

# Language detection and processing
langdetect
nltk
scikit-learn

# Document processing
python-docx
htmldocx

# Langchain models
langchain
langchain_openai
langchain_anthropic
langchain_community
langchain-google-genai
langchain_voyageai 

# other llms
openai
openai-function-tokens
anthropic

# test requirements
pandas
openpyxl

# Fix for tenacity issue
tenacity<8.4.0