.textarea-container{
    width: 100%;
    height: 100%;
    cursor: pointer;
    word-break: break-all;
}

.textarea-text-container{
    width: 100%;
    height: 100%; 
    resize: none;
    position: relative;
    border-radius: 2rem;
    justify-content: flex-end;
}

.textarea-placeholder {
    color: #ccc;
    font-family: arial;
    position: absolute;
    z-index: 1;
    cursor: text;
    -webkit-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
    pointer-events: none;
    margin-top: 15%;
    
    font-size: 1.5rem;

  }


.textarea-chars-progress{
    position: absolute;
    bottom:2vh;
    font-size: 1vw;
    opacity: 0.8;
    text-align: center;
    font-weight: bold;
    right:1vw;
    

}

.textarea-container:hover .text-area-clear-button {
    opacity: 0.4;
}

.text-area-clear-button {
    opacity: 0;
}

.text-area-action-button {
    position:absolute;
    bottom:1vh;
    left:1vw;
    
}




.textarea-text-container .ql-editor ul > li::before{
    content: none !important; 
    
    
}
.textarea-text-container .ql-editor ol > li, .ql-editor ul > li{
    list-style-type: initial !important;
    
}

.text-area-clear-button{
    position:absolute;
    right:2%;
    top:2%;
    color: black;
        
    
    /* opacity: 0; */
}

.textarea-text-container .p-editor-container{
    background-color: white;
    width: 100%;
    

}


.textarea-container .p-editor-container{
    border: 1px solid;
    background-color:#f0f0f0;
    height: 100%;
    width: 100%;
    
}

.textarea-container .p-editor-toolbar{
    flex:1 !important;
    width: 100%;
    
}


.textarea-container .p-editor-content{
    /* background-color: blue; */
    display: flex !important;
    flex:5 !important;
    
    overflow: auto;
    height: 40vh;
    
    /* width:  100px; */
    
    
}

.textarea-container .ql-editor{
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 80%;
    max-width: 100%;
    
    
}

.textarea-container .ql-picker-options{
    background-color: white;
}


.textarea-container .ql-container.ql-snow{
    
}





.textarea-text-container .ql-editor.ql-rtl ul, .ql-editor.ql-rtl ol {
    list-style-position: inside;
}
.textarea-text-container ul.rtl {
    list-style-position: inside;
    direction: rtl;
  }
  
  .textarea-text-container  ul.rtl li {
    text-align: right;
    direction: rtl;
    unicode-bidi: bidi-override;
  }


.textarea-text-container .ql-editor .ql-align-right {
    text-align: right;
    
}

.textarea-text-container .p-editor-content{
    direction: rtl;
    
    
}

.textarea-text-container .ql-editor {
    text-align: right;
}

.textarea-text-container .p-editor-content{

}





.textarea-container-bottom-options{
    
}