.table-content-container{
    margin-left: 1rem;
    
}
  
.table-content-container ::-webkit-scrollbar{
  width: 100px;
  background-color: red;
  left: 0;
}


  .table-content-container ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: black;
    transition: background-color 0.2s ease;
  }
  

  .table-content-header{
    justify-content:center;
    align-items:center;
    border-top-right-radius:3rem;
    border-bottom-right-radius:3rem;
    padding:1rem;
    padding-left:1rem;
    cursor:pointer;
    margin-right:2rem;
    margin-bottom:2rem;
  }

  .table-content-header:hover{
    filter: brightness(90%);
    
  }